---
import UpdatesPanel from "./UpdatesPanel.astro";
---

<div class="page-with-feed">
  <slot />
  <aside class="page-with-feed__rail" aria-label="Novedades y mejoras">
    <UpdatesPanel />
  </aside>
</div>